@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.clean {
    font-family: 'Montserrat', sans-serif;
}

.git {
    width: 3%;
    height: auto;
    position: absolute;
    right: 1.5%;
    top: 3%;
}

.formCard {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search, .clean {
    font-weight: 700;
    font-size: 10pt;
}

.formContainer {
    background-color: #F7F9F7;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 3.2%;
}

.pokeTitle {
    height: 7rem;
    width: auto;
}

.whole {
    width: 46%;
}

.searchValue, .searchType {
    display: flex;
    flex-direction: column;
}

.cardBody {
    width: 100%;
}

.formFields {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.clean, .search {
    background-color: #19A5F8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: 25%;
}

.clean:hover, .search:hover {
    background-color: #1972f8;
}

.clean:active, .search:active {
    border: 1px solid black;
}

.pokemonInput, .pokemonSearchType {
    width: 210px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #E8E8E8;
    padding-left: 10px;
    font-size: 10pt;
}

.pokemonSearchType {
    height: 32px;
}

.errorMessage {
    color: red;
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}

@media (max-width: 768px) {
    .formCard {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .formFields {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .whole {
        width: 85%;
    }

    .searchType {
        margin-top: 3%;
    }

    .git {
        width: 5%;
    }
}