@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.itemType {
    width: 13px;
    height: auto;
    margin-left: 5px;
    margin-bottom: -1px;
}

.itemTitle {
    font-weight: 700;
    font-size: 10pt;
    margin-bottom: 0.7rem;
}

.response-card {
    background-color: #F7F9F7;
    border: none;
    border-radius: 5px;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.responseItems {
    display: flex;
    flex-wrap: wrap;
}

.itemLeft {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.itemRight {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.itemImage {
    margin-left: 15px;
    margin-top: -20px;
}

.imgPoke {
    margin-left: -35px;
    width: 25%;
    height: auto;
}

.responseHeader {
    margin-bottom: 20px;
    font-weight: 900;
}
